.App {
  text-align: center;

}
.clock {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  position: relative;
  padding: 2rem;
  border: 7px solid #282828;
  border-radius: 100%;
  margin: 50px auto;
  background: #282828;
}
h2
{
  color: white;
}